<%= console %>

<h1>Round #<%= @round.id %></h1>

<p>Le président est : <%= @president.username %></p>

<p><%= @president.username %>, propose un chancelier parmi: </p>
<ul>
  <% @candidates.map do |candidate| %>
    <li><%= candidate.username %></li>
  <% end %>
</ul>

<p><%= @president.username %>, quel chancelier a été élu à l'unaminité ? </p>

<%= render 'edit_chancellor', round: @round %>


<% if @round.player_id.nil? == false %>
  <p>Bravo <%= @chancellor.username unless @chancellor.nil? %> ! Tu es le nouveau chancelier.</p>
  <p><%= @president.username %>, cache le téléphone pour piocher 3 cartes </p>
  <button>Piocher !</button>

  <ul>
    <% @president_draw.each do |law| %>
      <li><%= law.title %>, ID: <%= law.id %></li>
    <% end %>
  </ul>

  <%# <%= render 'laws/edit', laws: @president_draw %> %>

  <%= link_to "laws/edit", edit_law_path %>
<% end %>
