<%= render "layouts/topbar" %>

<div class="form-container">

<h3>Etape 1 : Renseigner les joueurs</h3>
<%= simple_form_for [@game, @player] do |f| %>
  <%= f.input :username, label: "Nom du joueur"%>
  <%= f.input :position, label: "Position"%>
  <%= f.button :submit, "Ajouter ce joueur", class: "button" %>
<% end %>

<%= console %>


<% unless @players.nil?%>
  <h3>Joueurs renseignés</h3>
  <ol>
    <% @game.players.each do |player| %>
      <li><%= player.username %></li>
    <% end %>
  </ol>
<% end %>
<% if @game.players.count == 7 %>
<%# ATTRIBUER LES ROLES ICI %>
<%# <%= render 'games/edit_players', player:  %> %>

<%# ET ENSUITE LANCER LE 1ER ROUND %>
<%# REDIRECT TO LE ROUND NOUVELEMENT CREE %>
  <%# <%= render 'rounds/new', round: @new_round %> %>

<%# <%= link_to "Commencer", game_round_path(@game, @round) %> %>
<% end %>

</div>
