<h1>Players#show</h1>
<p>Find me in app/views/players/show.html.erb</p>

<p>Hello <%= @player.username.capitalize %> !</p>
<p>Ton parti est : <%= @player.party %>.</p>
<% if @player.role == "Nazi"%>
  <p>Bienvenue dans le monde des méchants ! Tu n'es pas seul, <%= @second_nazi.username  %> t'aidera à protéger <%= @hitler.username %></p>
<% elsif @player.role == "Hitler"%>
  <p>Bienvenu dans le monde des méchants ! Sois discret pour ne pas te faire remarquer !</p>
<% else %>
  <p>Bienvenue chez les gentils, à toi de sauver le monde !</p>
<% end %>
# Ajouter un bouton pour dévoiler le secret role
<p>Ton rôle est : <%= @player.role %></p>


<h2>Joueur suivant</h2>
<% if @next_player %>
  <p><%= @player.username.capitalize %> : donne le téléphone à <%= @next_player.username %></p>
  <%= link_to "Découvrir le rôle secret de #{@next_player.username}", game_player_path(@game, @next_player) %>
<% else %>
  <p>No next player</p>
  <p>All set, let's start the game</p>
  <%= render 'rounds/new', round: @round %>
<% end %>
<%= console %>
