<%= form_tag({ controller: 'laws', action: 'update' }, method: :patch) do %>
  <%= hidden_field_tag "law_id", @law.id %>
  <%= select_tag "laws[title]", options_for_select(@president_draw.map{|law| [law.title, law.id]}), value: @law.id, prompt: "Sélectionner la loi à défausser" %>
  <%= submit_tag "Défausser" %>
<% end %>
<%= console %>

<p>Maintenant passe le téléphone à <%= @chancellor %></p>
<p><%= @chancellor %>, à ton tour de <%= link_to "sélectionner ta loi", edit_chancellor_selection_path(@round) %> !</p>
